<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <div>
        <h1>using templates..</h1>
        <p>
         this is login page...
        </p>
       
        <h3> set (define variable)  </h3>

        <h3> list items </h3>
        
        <h3> list for </h3>
        
        <h3> dict for </h3>
        
        <h3>if else </h3>
        

        
       
        

    </div>
</body>
</html>